.main-con {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto';
}

.login-con {
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 576px) {
  .login-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.mobile-image-logo {
  width: 150px;
}

@media screen and (min-width: 576px) {
  .mobile-image-logo {
    display: none;
  }
}

.login-image {
  width: 250px;
}

/* @media screen and (max-width: 576px) {
  .login-image {
    width:200px;
  }
} */

.login-form-con {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .login-form-con {
    box-shadow: 3px 4px 10px 5px #e2e8f0;
    border-radius: 5px;
    padding: 20px;
    width: 40%;
  }
}

.desktop-image-logo {
  width: 150px;
  margin: auto;
}

@media screen and (max-width: 576px) {
  .desktop-image-logo {
    display: none;
  }
}

.label {
  color: #1e293b;
  font-weight: 700;
  font-size: 16px;
}

.input-username {
  padding: 10px;
  background-color: #64748b;
  font-size: 12px;
  border: 1px solid #e2e8f0;
  border-radius: 5px;
  margin-top: 2px;
  color: #d7dfe9;
}

.login-btn {
  background-color: #0b69ff;
  color: white;
  border-radius: 5px;
  font-weight: 700;
}

.errormessage {
  color: red;
  font-size: 10px;
}
