.navbar {
  display: flex;
  justify-content: center;
}

.header-con {
  display: flex;
  width: 90%;
  max-width: 1000px;
  padding: 20px 0;
  justify-content: space-between;
}

.logo {
  width: 150px;
}

.navigation-con {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  align-self: flex-end;
  padding: 0;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: #64748b;
  font-size: 20px;
  margin: 10px;
}

@media screen and (min-width: 576px) {
  .logout-btn {
    color: white;
    background-color: #0967d2;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    outline: none;
  }
  .logout-logo-btn {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .logout-btn {
    display: none;
  }
}

.logout-logo {
  width: 20px;
}
